<header>
    <h1 id="heading" class="Sign_">TICKET MANAGEMENT SYSTEM</h1>
    <!-- Other header content can go here -->
    <nav>
        <UL>
    <li><a href="/home">Home</a></li>
    <li><a href="/riseticket">Rise Ticket</a></li>
    <li><a href="/resolveTicket">Resolve Ticket</a></li>

    <img src="<%=profilePic%>" />
    <p>Sawagat <%=username%></p>
</UL> 
</nav>
</header>